@import '@styles/inc/components';
.contactUs {
  h4 {
    margin-bottom: 32px;
    font-size: 36px;
  }
  .reverse {
    @include media-breakpoint-down(md) {
      order: 3;
    }
    .contactInfo {
      h5 {
        font-size: 24px;
        margin-bottom: 16px;
        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
      }

      max-width: 480px;
      height: 100%;
      border-inline-end: 1px solid #ddd;
      @include media-breakpoint-down(md) {
        border-inline-end: none;
        max-width: 100%;
      }
      .InfroCon {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #ddd;
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: unset;
        }

        .infoBox {
          margin-bottom: 16px;
          p {
            margin-bottom: 0;
          }
          .infoHeading {
            font-weight: 600;
            margin-bottom: 8px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .divider {
    margin: 32px 0;
    width: 100%;
    display: none;
    order: 2;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  .contactForm {
    max-width: 1064px;
  }
}
