@import "@styles/inc/components";


.loaderWrapMain {
    min-height: 300px;
    position: relative;

    .loaderWrap {
        .loaderActive {
            position: absolute;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            z-index: 9999;

        }
    }
}