@import '@styles/inc/components';
.innerSpace {
  padding-bottom: 64px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 24px;
  }
  .outTeamCon {
    margin-top: 96px;
    @include media-breakpoint-down(xl) {
      margin-top: 48px;
    }
  }
}
