// Divider.scss
.dividerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontalDivider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

// Vertical Divider Style
.dividerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.verticalDivider {
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
