@import '@styles/inc/components';
.mainSharePanel{
  @include media-breakpoint-down(lg) {
    padding-top: 0 !important;
  }
  .innerSharePanel{
    h2 {
      margin-top: 64px;
      margin-bottom: 48px;
      @include media-breakpoint-down(lg) {
        margin-top: 32px;
      margin-bottom: 32px;
      }
    }
    .cardPanel{
      margin-bottom: 24px;
    }
  }
}