@import '@styles/inc/components';
.mt48{
  margin-top: 48px;
  .cardCon {
    padding: 0 !important;
    margin-bottom: 24px;
    &:last-child {
      @include media-breakpoint-down(md) {
        margin-bottom: 24px;
      }
    }
  }
}

