@import '@styles/inc/components';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 24px;
  border-right: 1px solid #ddd;

  .imageCon {
    img {
      width: 100%;
    }
  }
}
.cardTitle {
  p {
    margin-bottom: 32px;
    font-weight: 700;
  }
}
.cardIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #4caf50;
}

.cardContent {
  text-align: left;
  padding: 32px 0;

  @include media-breakpoint-down(xl) {
    padding: 20px 0;
  }

  h6 {
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
  }
}
